DATABASE_URL="postgresql://username:password@localhost:5432/transitops?schema=public"
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_CESIUM_ION_TOKEN=
NEXT_PUBLIC_OSRM_URL=https://router.project-osrm.org
NEXT_PUBLIC_MAP_PROVIDER=cesium
